<footer>
    <div class="f-info">
    
        
        <div class="f-info-links">
            <a href="#"> &copy; 2025 WanderLust, Inc. </a>
            <a href="/privacy"> Privacy </a>
            <a href="terms"> Term </a>
            <a href="/sitemap"> Sitemap </a>
            <a href="/companyDetails"> Company details </a>
        </div>

        <div class="f-info-social">
            <a href=""><i class="fa-solid fa-globe"></i> English(IN)</a>
            <a href="">&#8377; INR</a>
            <a href=""> <i class="fa-brands fa-square-facebook"></i> </a>
            <a href=""><i class="fa-brands fa-square-twitter"></i> </a>
            <a href=""> <i class="fa-brands fa-square-instagram"></i> </a>
        </div>

    </div>
</footer>